{% extends "blogsite/layout.html" %}

{% block body %}
    <h2>Sign up</h2>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <input type="submit" value="Sign up">   
    </form>

    Already have an account? <a href="{% url 'login' %}">Log in</a>

{% endblock %}